/qtmodel.egg-info/
/setup.py
/dist/
/test.py
/source/
/Makefile
/make.bat
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/.name
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/Python建模.iml
